:{
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
}
h1 {
    text-align: center;
    color: snow;
}
@media screen and (min-width:500px){
  .container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
.container table{
  display: flex;
  justify-content: space-around;
}
input {
    width: 300px;
    font-size: 24px;
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border-bottom-color: snow;
    border-right: none;
    border-left: none;
    border-top: none
}
input:focus {
    outline: none;
}
.remove {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: snow;
    color: pink;
    border: none;
    border-radius: 15px;
}
.bottons{
  display: flex;
  justify-content: center;
}
#addRow {
    width: 130px;
    height: 40px;
    font-size: 16px;
    background-color: snow;
    color: pink;
    border: none;
    margin: 20px;
    margin-left: 0px;
    border-radius: 10px;
}
#getValues {
    width: 130px;
    height: 40px;
    font-size: 16px;
    background-color: snow;
    color: pink;
    border: none;
    margin: 20px;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
}
tr:hover {
    cursor: move;
}



/*ここからinput.html*/
/*メンバー内容*/
@media screen and (min-width:500px){
  #memberbox {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
#memberbox h2{
  color: white;
}
#members{
  color: white;
}
#members li{
  margin-left: 1em;
  display: inline-block;
  outline: 0px;
  overflow: hidden;
  padding-right: 10px;
  color: snow; /*文字の色*/
  background: lightpink;
  border-radius: 10px;
  box-shadow: 0 0 0 2px lightpink;
  border: 2px dashed snow;
  padding: 0em 1em;
}

/*割り勘内容記入*/
#splits {
    color: snow;
}
@media screen and (min-width:500px){
  #splits {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: snow;
  }
}
#splits h2{
  color: white;
}
#split table{
  width: 450px;
}
#split table tbody tr{
  display: flex;
  justify-content: space-between;
}
.material{
    width: 50px;
    font-size: 10px;
    color: white;
    padding: 10px;
    background-color: transparent;
    border-bottom-color: snow;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-width: 2px;
}
.price{
    width: 50px;
    font-size: 10px;
    color: white;
    padding: 10px;
    text-align: right;
    background-color: transparent;
    border-bottom-color: snow;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-width: 2px;
}
.greeter {
    width: 80px;
    font-size: 10px;
    color: gray;
    padding: 14px;
    background-color: transparent;
    border-bottom-color: snow;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-width: 2px;
}
.material, .price, .greeter:focus {
    outline: none;
}
#addSp{
    width: 130px;
    height: 40px;
    font-size: 16px;
    background-color: snow;
    color: pink;
    border: none;
    margin: 20px;
    margin-left: 0px;
    border-radius: 10px;
}

/*奢り記入*/
#treats {
    color: snow;
}
@media screen and (min-width:500px){
  #treats {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: snow;
  }
}
#treats h2{
  color: white;
}
#treat table{
  width: 450px;
}
#treat table tbody tr{
  display: flex;
  justify-content: space-between;
}
.payer, .payee {
    width: 80px;
    font-size: 10px;
    color: gray;
    padding: 14px;
    background-color: transparent;
    border-bottom-color: snow;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-width: 2px;
}
.payer, .payee:focus {
    outline: none;
}
#addTr{
  width: 130px;
  height: 40px;
  font-size: 16px;
  background-color: snow;
  color: pink;
  border: none;
  margin: 20px;
  margin-left: 0px;
  border-radius: 10px;
}

/*清算*/
#calculater{
 margin-top: 100px; 
}
@media screen and (min-width:500px){
  #calculater {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

#calculate{
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: 26px;
  background-color: lightgoldenrodyellow;
  color: pink;
  border: none;
  margin: 20px;
  margin-left: 0px;
  border-radius: 10px;
}

#result table{
  width: 100%;
  color: lemonchiffon;
}

#result table th{
  text-align: left;
  width: 15%;
}

#result table td{
  text-align: left;
  width: 85%;
}
#result p{
  color: red;

}